fastapi==0.120.1
uvicorn[standard]==0.38.0
sqlalchemy==2.0.44
pydantic==2.12.3
av==16.0.1
Pillow==12.0.0
qrcode==8.2
watchdog==5.0.2
fs==2.4.16
fs.smbfs==1.0.5
smbprotocol==1.13.0
keyring==24.3.1
numpy==1.26.4
onnxruntime==1.19.2
opencv-python-headless==4.10.0.84
insightface==0.7.3
hdbscan==0.8.33
torch==2.3.1
sentence-transformers==3.0.1
faiss-cpu==1.8.0.post1
huggingface_hub==0.26.1
timm==0.9.16
python-multipart==0.0.9
